<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p>(+52) 618 130 1655</p>
    <title>Forestal del Fresno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/' ~ logo) }}" alt="{{ logo }}" width="400">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="#{{ url_for('index') }}">Acerca de nosotros</a></li>
                <li><a href="{{ url_for('products') }}">Productos</a></li>
                <li><a href="{{ url_for('contact') }}">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div role="main">
            <h2>{{ category }}</h2>
        
            <div class="product-grid">
                {% for product in products %}
                <div class="product-card">
                    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <a href="{{ url_for('product_detail', product_id=product.id) }}">Ver detalles</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <footer>
        <p>Numero: (+52) 618 130 1655 </p>
        <p>Celular (Whatsapp): (+52) 618 329 2828/ </p>
        <p>Correo: forestadelfresno@prodigy.net.mx</p>
        <p>&copy; 2024 Forestal del Fresno. Todos los derechos reservados.</p>
    </footer>
</body>
</html>