<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forestal del Fresno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Forestal del Fresno</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="#{{ url_for('index') }}">Acerca de nosotros</a></li>
                <li><a href="{{ url_for('products') }}">Productos</a></li>
                <li><a href="{{ url_for('contact') }}">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Contáctanos</h2>
        <form action="{{ url_for('contact') }}" method="POST">
            <input type="text" name="name" placeholder="Nombre" required>
            <input type="email" name="email" placeholder="Email" required>
            <textarea name="message" placeholder="Mensaje" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </main>

    <footer>
        <p>Numero: (+52) 618 130 1655 </p>
        <p>Celular (Whatsapp): (+52) 618 329 2828/ </p>
        <p>Correo: forestadelfresno@prodigy.net.mx</p>
        <p>&copy; 2024 Forestal del Fresno. Todos los derechos reservados.</p>
    </footer>
</body>
</html>